<h3 style="text-align: center">Core Pods</h3>

<div class="container">
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Namespace</th>
                <th scope="col">Pod Name</th>
                <th scope="col">Node</th>
                <th scope="col">Status</th>
                <th scope="col">Image Version</th>
            </tr>
        </thead>
        <tbody>
            {% for p in hostvars['localhost'].core_pods.stdout | from_json %}
                <tr>
                    <td>
                        {{p["ns"]}}
                    </td>
                    <td>
                        {{p["name"]}}
                    </td>
                    <td>
                        {% set on = hostvars['localhost'].ordered_nodes.stdout | from_json | json_query("[?name=='"+p['node']+"']") | first %}

                        {% include 'includes/sub/node_name.j2' %}
                    </td>
                    <td>
                        {%if p["ready"]=="True"%}
                            <span  data-toggle="tooltip" data-placement="right" title="{{ p['phase']}}" class="badge badge-pill badge-success">Ready</span>
                        {%elif p["ready"]=="Unknown"%}
                            <span data-toggle="tooltip" data-placement="right" title="{{p['phase']}} | {{p['reason']}} | {{p['message']}}" class="badge badge-pill badge-danger">Error</span>
                        {%else%}
                            <span data-toggle="tooltip" data-placement="right" title="{{p['phase']}} | {{p['reason']}} | {{p['message']}}" class="badge badge-pill badge-danger">NotReady</span>
                        {%endif%}
                    </td>
                    <td style="word-wrap: break-word; white-space:pre;">{{p["images"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr />
<br />
