<style>
    .table td, .table th {vertical-align:middle;}
    .table.text-center th {text-align: center;}
    .alert { padding:0;}
    .breaker {word-wrap: break-word; white-space:pre;}
    .progress {background-color:#cacaca;}

    .navbar-brand,.navbar{padding-top:0.3rem;padding-bottom:0.3rem;}
    .navbar-svg-git {width: 2rem;height: 2rem;}
    .navbar-svg-ocp {width: 9rem;height: 2.5rem;}
</style>
