<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            {% include 'includes/bootstrap/bootstrap.min.css' %}
        </style>
        <title>OpenShift Cluster Overview Report {{report_date}} </title>
        {% include 'includes/styles.j2' %}
    </head>
    <body>
        {% include 'includes/header.j2' %}
        <br />
        {% include 'includes/system_resources.j2' %}
        {% include 'includes/system_services.j2' %}
        {% include 'includes/node_resources.j2' %}
        {% include 'includes/node_info.j2' %}
        {% include 'includes/node_status.j2' %}
        {% include 'includes/pod_stats.j2' %}
        {% include 'includes/core_pods.j2' %}
        {% include 'includes/etcd_health.j2' %}
        <br />
        {% include 'includes/footer.j2' %}


        <script>
            {% include 'includes/bootstrap/jquery-3.3.1.slim.min.js' %}
        </script>

        <script>
            {% include 'includes/bootstrap/popper.min.js' %}
        </script>

        <script>
            {% include 'includes/bootstrap/bootstrap.min.js' %}
        </script>

        <script>
            {% include 'includes/javascript.j2' %}
        </script>
  </body>
</html>
