---
- name: Get Nodes
  shell:
    cmd: |
        mkdir -p /root/.tmphc
        /usr/bin/cp /etc/origin/master/openshift-master.kubeconfig /root/.tmphc/kubeconfig
        export KUBECONFIG="/root/.tmphc/kubeconfig"
        oc get nodes -o json > /root/.tmphc/all_nodes
    warn: False
  ignore_errors: yes

- name: Copy oc-get-node Output File Locally
  fetch:
    src: /root/.tmphc/all_nodes
    dest: .localtmphc/all_nodes
    flat: yes
